@model Survey
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-3">
            <ul>
                <li>Name: @Model.Name</li>
                <li>Location: @Model.Location</li>
                <li>Favorite Language: @Model.FavLanguage</li>
                <li>Comment: @Model.Comment</li>
            </ul>
        </div>
    </div>
</div>