@model User
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Register NOW!!!</h1>
        </div>
    </div>
    <partial name="RedSquarePartial"/>
    <div class="row">
        <div class="col-sm-6 offset-3">
            <form asp-action="Submit" asp-controller="Home" method="post">
            <div class="form-group">
                <span asp-validation-for="FirstName" class="form-text text-danger"></span>
                <label asp-for="FirstName">First Name</label>
                <input type="text" class="form-control" id="FirstName" asp-for="FirstName">
            </div>
            <div class="form-group">
                <span asp-validation-for="LastName" class="form-text text-danger"></span>
                <label asp-for="LastName">Last Name</label>
                <input type="text" class="form-control" id="LastName" asp-for="LastName">
            </div>
            <div class="form-group">
                <span asp-validation-for="Age" class="form-text text-danger"></span>
                <label for="Age">Age</label>
                <input type="number" class="form-control" id="Age" asp-for="Age">
            </div>
            <div class="form-group">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" id="Email" asp-for="Email">
            </div>
            <div class="form-group">
                <span asp-validation-for="Password" class="form-text text-danger"></span>
                <label asp-for="Password">Password</label>
                <input type="password" class="form-control" id="Password" asp-for="Password">
            </div>
            <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>