@{
    ViewData["Title"] = "Login Registration Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 text-center">
            <partial name="RegistrationPartial"/>
        </div>
        <div class="col-sm-6 text-center">
            <partial name="LoginPartial"/>
        </div>
    </div>
</div>