@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col">
    <h1 class="display-4">About me</h1>

    </div>
</div>
<div class="row text-center">
    <div class="col-sm-6">
        <img src="https://place-hold.it/200x250" alt="image of website author">
        <h3>Denys GL</h3>
        <h3>MVC IS OP</h3>
    </div>
    <div class="col-sm-6">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia doloremque itaque in velit voluptas eos quibusdam nobis cum iste possimus at beatae, aliquam mollitia molestiae quidem, corporis consequatur quaerat?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia doloremque itaque in velit voluptas eos quibusdam nobis cum iste possimus at beatae, aliquam mollitia molestiae quidem, corporis consequatur quaerat?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia doloremque itaque in velit voluptas eos quibusdam nobis cum iste possimus at beatae, aliquam mollitia molestiae quidem, corporis consequatur quaerat?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia doloremque itaque in velit voluptas eos quibusdam nobis cum iste possimus at beatae, aliquam mollitia molestiae quidem, corporis consequatur quaerat?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia doloremque itaque in velit voluptas eos quibusdam nobis cum iste possimus at beatae, aliquam mollitia molestiae quidem, corporis consequatur quaerat?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A officia doloremque itaque in velit voluptas eos quibusdam nobis cum iste possimus at beatae, aliquam mollitia molestiae quidem, corporis consequatur quaerat?</p>
    </div>
</div>