@model IEnumerable<PortfolioII.Models.Project>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h1>Here are som projects of mine</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        @{
                
            foreach(var project in Model)
            {
                // We can render HTML from within C# code!
                <div>
                    <img src="@project.ImageLink" alt="project image">
                    <p>@project.Name</p>
                    <p>@project.Description</p>
                </div>
            }
        }
    </div>
</div>